<%= erb :_nav, :layout => false %>
<%= erb :_weather, :layout => false %>

<div id="main_content">
  <h1 class="color_text">mBarks</h1>
  <button id="show_add_mbark_form">Add An mBark!</button>
  <div id="add_event">
    <%= erb :_mbarks_new, :layout => false, :locals => { :current_user => current_user } %>
  </div>
  <h2>my mBarks</h2>
  <div id="user_mbark_list">
    <% @user_events.each do |event| %>
      <ul class="event">
        <li style="display: none"><%= event.id %></li>
        <li>Date: <%= event.date %></li>
        <li>Time: <%= event.time %></li>
        <li>Park Address: <%= event.street_address %></li>
        <li>City: <%= event.city %></li>
        <li>State: <%= event.state %></li>
        <li>Zip: <%= event.zip %></li>
        <li class="description"><p>Description: <%= event.description %></p></li>
        <li>
        <% event.users.each do |user| %>
          <% user.dogs.each do |dog| %>
            <img class="mbark_dog_icon" src="<%= dog.image %>" />
          <% end %>
        <% end %>
        </li>
      </ul>
    <% end %>
  </div>
  <h2>all mBarks</h2>
  <div id="all_mbark_list">
    <% @non_user_events.each do |event| %>
      <ul class="event">
        <li style="display: none"><%= event.id %></li>
        <li>Date: <%= event.date %></li>
        <li>Time: <%= event.time %></li>
        <li>Park Address: <%= event.street_address %></li>
        <li>City: <%= event.city %></li>
        <li>State: <%= event.state %></li>
        <li>Zip: <%= event.zip %></li>
        <li class="description"><p>Description: <%= event.description %><p></li>
        <li>
        <% event.users.each do |user| %>
          <% user.dogs.each do |dog| %>
            <img class="mbark_dog_icon" src="<%= dog.image %>" />
          <% end %>
        <% end %>
        </li>
        <li><button class="join_mbark" type="button">Join mBark</button></li>
      </ul>
    <% end %>
  </div>
</div>
